@page
@model BudgetTracker.Areas.User.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex flex-column gap-4 gy-4">

    <div class="d-flex mt-3">
        <div class="btn-group" aria-label="Toggles the view of the charts">
            <input type="radio" class="btn-check" name="chart-view" id="buttonAll" autocomplete="off" onchange="getChartData(this.value)" value="all" />
            <label class="btn btn-outline-primary" for="buttonAll">All</label>
            <input type="radio" class="btn-check" name="chart-view" id="buttonYear" autocomplete="off" onchange="getChartData(this.value)" value="year" />
            <label class="btn btn-outline-primary" for="buttonYear">Y</label>
            <input type="radio" class="btn-check" name="chart-view" id="buttonYearToDate" autocomplete="off" onchange="getChartData(this.value)" value="ytd" checked />
            <label class="btn btn-outline-primary" for="buttonYearToDate">YTD</label>
        </div>
    </div>

    <div class="row gy-4 gx-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4>Balance</h4>
                        <span id="spanBalanceTotal">$0.00</span>
                    </div>
                    <div class="position-relative w-100" style="padding-top:35%">
                        <div id="balance-chart" class="position-absolute w-100 h-100 top-0 start-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4>Spending by Category</h4>
                    <div class="position-relative w-100" style="padding-top:40%">
                        <div id="category-line-chart" class="position-absolute w-100 h-100 top-0 start-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card h-100"> 
                <div class="card-body">
                    <h4>Total by Category</h4>
                    <div class="position-relative w-100 h-100" style="padding-top:40%">
                        <div id="category-pie-chart" class="position-absolute w-100 h-100 top-0 start-0 bottom-0 end-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/User/Index.js"></script>
}