<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] == null ? "Penny Map" : $"{ViewData["Title"]} - Penny Map")</title>
    <script type="importmap"></script>
    <partial name="/Pages/Shared/_Styles.cshtml"/>
</head>
<body>
    <header>
        <nav id="navbar-top" class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container flex-nowrap">
                <a class="navbar-brand text-primary fw-bold fs-3" asp-area="" asp-page="/Index">Penny Map <i class="bi bi-map"></i></a>
                <div class="d-sm-inline-flex justify-content-between">
                    <div class="flex-grow-1"></div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main id="main-content" role="main" class="container d-flex flex-column flex-grow-1 pb-4">
        @RenderBody()
        <partial name="_Toast" />
    </main>

    <partial name="_Footer" />
    <partial name="_Scripts" />

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toast = '@TempData["ToastNotification"]';

            if(toast != null && toast != ''){
                showToast(toast);
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
