#navbar-top {
    background-color: rgba(24, 94, 47, 0.1);
    backdrop-filter: blur(15px);
    height:70px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

#main-content{
    padding-top:calc(70px + 1.5rem);
}