@using BudgetTracker.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="btn-group">
            <button type="button" class="btn btn-link text-primary text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @(User.Identity?.Name)
            </button>
            <ul class="dropdown-menu" style="font-size:1.1rem">
                <li>
                    <a asp-area="User" asp-page="/Index" class="dropdown-item">
                        <i class="bi bi-house me-1"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a asp-area="User" asp-page="/Categories/Index" class="dropdown-item">
                        <i class="bi bi-list-ul me-1"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-page="/Transactions/Index" class="dropdown-item">
                        <i class="bi bi-shop me-1"></i>
                        <span>Transactions</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">
                        <i class="bi bi-gear me-1"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item">
                        <i class="bi bi-door-open me-1"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
