<div class="toast-container position-sticky mt-auto ms-auto end-0 bottom-0 p-3">
    <div id="toast-page" class="toast align-items-center w-fit-content" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>